.form {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 25px;
    margin: 0 auto;
    width: 700px;
}

.input {
    font-size: 20px;
    padding-left: 20px;
    border: none;
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input:focus {
    outline-color: rgb(179, 131, 226);
}

.input::placeholder {
    color: rgb(179, 131, 226);
}

@media (max-width: 780px) {
    .form {
        width: 100%;
    }
    .input {
        width: 80%;
    }
}
